<div class="sidebar">
  <ul class="sidebar-nav">
    <li>
      <a (click)="toggleMenu('dashboard')" [class.active]="activeMenu === 'house-points'">
        <img src="assets/icons/dashboard.png" class="icon" /> Dashboard
      </a>
      <ul class="submenu" [class.open]="activeMenu === 'house-points'">
        <li><a routerLink="/house-points" routerLinkActive="active">House Points</a></li>
        <li><a routerLink="/quidditch" routerLinkActive="active">Quidditch</a></li>
        <li><a routerLink="/detention" routerLinkActive="active">Detention</a></li>
        <li><a routerLink="/news" routerLinkActive="active">News Portal</a></li>
      </ul>
    </li>

    <li>
      <a (click)="toggleMenu('store')" [class.active]="activeMenu === 'store'">
        <img src="assets/icons/store.jpg" class="icon" /> Store
      </a>
      <ul class="submenu" [class.open]="activeMenu === 'store'">
        <li><a routerLink="/store/diagon-alley" routerLinkActive="active">Diagon Alley</a></li>
        <li><a routerLink="/store/hogsmeade" routerLinkActive="active">Hogsmeade</a></li>
      </ul>
    </li>
  </ul>
</div>